<!DOCTYPE html>
<aside lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/code-examples-style.css">
    <title>Code</title>
</head>
<body>
    <h2>C++</h2>
    <pre><code></code></pre>

    <h2>Python</h2>
    <pre><code></code></pre>

    <h3>PyQT</h3>

    <div class="code-box">
        <details>
            <summary>Example</summary>
            <pre><code id="pyqt"></code></pre>
        </details>
    </div>
    

    
    <h3>BeautifulSoup</h3>
    <pre><code></code></pre>
    <h3>PyWin (Win64 API)</h3>
    <pre><code></code></pre>

    <h2>HTML</h2>
    <pre><code></code></pre>

    <h2>CSS</h2>
    <pre><code></code></pre>

    <h2>JavaScript</h2>
    <pre><code></code></pre>
    <h3>Vue</h3>
    <pre><code></code></pre>
    <h3>P5.js</h3>
    <pre><code></code></pre>

    <h2>Lua</h2>
    <pre><code></code></pre>

    <h2>SQL</h2>
    <pre><code></code></pre>

    <h2>Data structures</h2>
    <pre><code></code></pre>
    <h3>Trees</h3>
    <pre><code></code></pre>
    <h4>Red-Black Trees</h4>
    <pre><code></code></pre>
    <h3>State Machines</h3>
    <pre><code></code></pre>
    <h3>Linked List</h3>
    <pre><code></code></pre>
    <h3>Heap</h3>
    <pre><code></code></pre>

    <h2>Rainmeter</h2>
    <pre><code></code></pre>

    <script src="scripts/code-examples.js"></script>

</body>
</html>