<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/food-style.css">
    <title>Cooking</title>
</head>
<body>
    <header>
        <nav id="links-section">
            <ul id="links">
                <a href="index.html"><li>Home</li></a>
                <a href="Code.html"><li>Code</li></a>
                <a href="Drawing.html"><li>Drawings</li></a>
                <a href="Photos.html"><li>Photos</li></a>
                <a href="Writing.html"><li>Writings</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <h1>This Page is All About Cooking!</h1>

        <article class="food-cat" id="bread">
            <h2>Here's About Bread!</h2>

            <article class="food-type" id="bao">
                <h3>Bao Buns</h3>
                <div class="carousel">
                    <div class="image-holder"><img src="images/food/bao bun - attempt 1 -after-2.jpg"></div>
                    <div class="image-holder"><img src="images/food/bao bun - attempt 2 - after-2.jpg"></div>
                    <div class="image-holder"><img src="images/food/bao bun - attempt 2 - batch 2 - after-4-2.jpg"></div>
                    <div class="image-holder"><img src="images/food/bao bun - attempt 2 - cutaway-4.jpg"></div>
                </div>
                
            </article>

            <article class="food-type" id="flatbread">
                <h3>Flatbread</h3>
                <div class="carousel">
                    <div class="image-holder"><img src="images/food/First Flatbread - Finished w Beans - 1.jpg"></div>
                </div>
                
            </article>
            
            <article class="food-type" id="whitebread">
                <h3>White bread</h3>
                <div class="carousel">
                    <div class="image-holder"><img src="images/food/First Bread - Finished - 3.jpg"></div>
                    <div class="image-holder"><img src="images/food/First Bread - Finished - 7.jpg"></div>
                    <div class="image-holder"><img src="images/food/First Bread - Sandwich - 2.jpg"></div>
                    <div class="image-holder"><img src="images/food/First Bread - Sandwich - 4.jpg"></div>
                    <div class="image-holder"><img src="images/food/moody bread.jpg"></div>
                </div>
                
            </article>
            
        </article>
        
        <article class="food-cat" id="pizza">
            <h2>Pizza, I guess...</h2>
            <div class="carousel">
                <div class="image-holder"><img src="images/food/First Pizza - 1 - Dough.jpg"></div>
                <div class="image-holder"><img src="images/food/Second Pizza - Finished - 1.jpg"></div>
            </div>
           
        </article>
    
        <article class="food-cat" id="cookies">
            <h2>Of Cookies and Somesuch</h2>   
            <div class="carousel">
                <div class="image-holder"><img src="images/food/First attempt at Mini Milk Tarts.jpg"></div>
                <div class="image-holder"><img src="images/food/Sand tart, peanut butter cookies and glassy (high sugar, low flour) scones.jpg"></div>
            </div>
        </article>    
    
    </main>
    <footer>
        <p>Created by...</p>
        <p>Here is my pillowfort, flickr, github, email address</p>
    </footer>
    
   
    

    
</body>
</html>