<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/drawings-style.css">
    <title>Drawings</title>
</head>
<body>
    <div id="page">
        <div class="border"></div>
        <div id="gallery">
            <img src="images/drawings/bulb.png" onclick="turnon(this)">
            <img src="images/drawings/cake-with fork-and plate.png" onclick="turnon(this)">
            <img src="images/drawings/Canvas - 2.png" onclick="turnon(this)">
            <img src="images/drawings/Copy of Beneath the Waves - d resized.png" onclick="turnon(this)">
            <img src="images/drawings/Copy of Drink the Universe - Finished v2.png" onclick="turnon(this)">
            <img src="images/drawings/Copy of untitled sq (1).png" onclick="turnon(this)">
            <img src="images/drawings/crystal ball.png" onclick="turnon(this)">
            <img src="images/drawings/night obsession-3.jpg" onclick="turnon(this)">
            <img src="images/drawings/Result A - highlights, shadows and shapes.png" onclick="turnon(this)">
            <img src="images/drawings/result b-cropped.png" onclick="turnon(this)">
            <img src="images/drawings/result b.png" onclick="turnon(this)">
            <img src="images/drawings/result d (1).png" onclick="turnon(this)">
            <img src="images/drawings/silk drop fold.png" onclick="turnon(this)">
            <img src="images/drawings/so far-4.png" onclick="turnon(this)">
            <img src="images/drawings/Work in progress.png" onclick="turnon(this)">
        </div>
        <div id="viewer">
            <img id="viewer-image" src="">
            <button id="close-button" onclick="turnoff()">X</button>
        </div>
        <div class="border"></div>
    </div>

    <script src="scripts/drawing-viewer.js"></script>
</body>
</html>