<!-- 
  TO DO

  All pages - use vue to add a standard footer, 
  make responsive and accessible for phone and desktop
  
  Front - make canvas dynamically sized

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/front-style.css">
    <title>Personal Home Page</title>
  </head>
  
  <body>
    <header>
      <h1>Welcome to the Personal Site!</h1>
    </header>
    
    <main>
      <div id="canvas-layer">
        <nav id="links-container">
          <ul>
            <li class="link-box" id="photos"><a class="link" href="Photos.html">Photos</a></li>
            <li class="link-box" id="code"><a class="link" href="Code.html">Code</a></li>
            <li class="link-box" id="cooking"><a class="link" href="Cooking.html">Cooking</a></li>
            <li class="link-box" id="drawing"><a class="link" href="Drawing.html">Drawings</a></li>
            <li class="link-box" id="writing"><a class="link" href="Writing.html">Writings</a></li>
          </ul>
        </nav>
      </div>
    </main>

    <footer>
      <div id="footer-link-area">
        <p id="footer-header">My Other Accounts</p>
        <ul id="footer-links">    
          <li><a href="" class="footer-link">Flickr</a></li>
          <li><a href="" class="footer-link">Github</a></li>
          <li><a href="" class="footer-link">WordPress</a></li>
          <li><a href="" class="footer-link">Email Address</a></li>
        </ul>
      </div>
      <hr>

      <p class="footer-label"> &copy; S.Mapuvire 2024 </p>
      <p class="footer-label"> This page was made with Vue.js, p5.js, SASS, and some Vanilla JS </p>
    </footer>

    <script src="scripts/p5.js"></script>
    <script src="scripts/sketch.js"></script>
  </body>
</html>
