<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/front-style.css">
    <title>Personal Home Page</title>
  </head>
  
  <body>
    
    <div id="canvas-layer">
      <!-- <h1 id="header">This is the home page of a one ____</h1> -->
      
      <nav id="links-container">
        <ul>
          <li class="link-box"><a href="Photos.html">Photos</a></li>
          <li class="link-box"><a href="Code.html">Code</a></li>
          <li class="link-box"><a href="Cooking.html">Cooking</a></li>
          <li class="link-box"><a href="Drawing.html">Drawings</a></li>
          <li class="link-box"><a href="Writing.html">Writings</a></li>
        </ul>
      </nav>

    </div>

    <script src="scripts/p5.js"></script>
    <script src="scripts/sketch.js"></script>
  </body>
</html>
