<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/base-style.css">
        <link rel="stylesheet" href="styles/photos-style.css">
        <title>Photos</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="index.html" class="nav-link"><li>Home</li></a>
                    <a href="Code.html" class="nav-link"><li>Code</li></a>
                    <a href="Cooking.html" class="nav-link"><li>Cooking Photos</li></a>
                    <a href="Drawing.html" class="nav-link"><li>Drawings</li></a>
                    <a href="Photos.html" class="nav-link"><li>Photos</li></a>
                    <a href="Writing.html" class="nav-link"><li>Writing</li></a>
                </ul>
            </nav>
        </header>
        <main>
            <div id="page-container">
                <div id="viewer-section"></div>
                <div id="previews-section">
                    <div id="holder"></div>
                    
                </div>
            </div>
        </main>
        <footer>
            <a href="">Back to Top</a>
            <p>My Tumblr</p>
            <p>My Email Address</p>
            <p>My Pinterest</p>
            <p>Author &copy; 2024</p>
        </footer>
        <script src="scripts/photo-item.js"></script>
    </body>
</html>