<!-- 
    TO DO
    
     - implement lightbox - might just use on vue component
    - implement empty or image selector - i.e. serve an empty if image is not loaded - i.e'image_not_found.svg' as a default
    -clean up and make efficient photo.item
    - make accessible and responsive
    - make icon animations pop more
    - remove link to own page!

 -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/base-style.css">
        <link rel="stylesheet" href="styles/photos-style.css">
        <title>Photography</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="index.html" class="nav-link"><li>Home</li></a>
                    <a href="Code.html" class="nav-link"><li>Code</li></a>
                    <!-- <a href="Cooking.html" class="nav-link"><li>Cooking Photos</li></a> -->
                    <a href="Drawing.html" class="nav-link"><li>Drawings</li></a>
                    <a href="Photography.html" class="nav-link"><li>Photos</li></a>
                    <a href="Writing.html" class="nav-link"><li>Writing</li></a>
                </ul>
            </nav>
        </header>
        <main>
            <div id="app" v-cloak>
                {{imageList}}

            </div>
            <div id="page-container">
                <div id="viewer-section"></div>
                <div id="previews-section">
                    <div id="holder"></div>
                </div>
            </div>
        </main>
        
        <footer></footer>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="scripts/photo-item.js"></script>
        <script src="scripts/footer-vue.js"></script>
    </body>
</html>