<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/resume-style.css">
    <title>Resume</title>
</head>
<body style="padding: 15px;">
    <header>
        <h1>Shingai Mapuvire Resume Template Page</h1>
        <h1>Make Different Pages for Different Employers</h1>
        <hr>
        <section>
            <h2>Contact Details</h2>
            <ul>
                <li>Email: smapuvire@proton.me</li>
                <li>LinkedIn:</li>
            </ul>
        </section>
    </header>
    <main>
        <section>
            <h2>Education History</h2>
            <h3>Midwestern State University - 2016 - 2020 - BS Computer Science Associates Degree</h3>
            <p>Didn’t quite finish, couldn’t afford the last couple of years even with less classes to try manage the costs. 
            However, ever since, I’ve put much effort and time into web development specifically – something of which there were no classes on offer at MSU.</p>
        </section>

        <section>
            <h2>Employment History</h2>
            <h3>Maotsa Farm – 2020-2022 – Various Roles</h3>
            <p>Acted as a general computer systems manager doing whatever duties were needed. I created and maintained an SQL database for the farm to track inventory grain stock, the employee register, and various other items that needed tracking. I aided workers with any tech issues with their devices.</p>
        </section>
        
        <section>
            <h2>Open Source Projects Contributions</h2>
            <p></p>
        </section>

        <section>
            <h2>Skills</h2>

            <h3>Web Dev Technologies Known</h3>
            <ul>
                <l1>HTML</l1>
                <l1>CSS – SASS, Bulma</l1>
                <l1>JavaScript – p5.js, </l1>
                <l1>MongoDB, mySQL</l1>
                <l1>Express</l1>
                <l1>Vue, Svelte</l1>
                <l1>Node.js</l1>
            </ul>

            <h3>Related Skills Known</h3>
            <ul>
                <li>PyQT/QT – experience with creating desktop programs</li>
            </ul>

            <div id="please-see">
                <p>Please see <a href=".code.html">Code Page</a> for some examples of using these technologies.</p>
                <p>Or explore this site, each page lists it's used frameworks/languages/libaries.</p>
            </div>
        </section>
        
        <section>
            <h2>Long-term hopes</h2>
            <p></p>
        </section>

    </main>
    <footer></footer>
    <script src="scripts/footer.js"></script>
</body>
</html>


Why applied to this company?
