<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base-style.css">
    <link rel="stylesheet" href="styles/writing-style.css">
    <title>Writings</title>
</head>
<body>
    <div id="first-half">
        <div id="left-side">
            <div id="pic-holder"> 
                <img id="pic" src="images/photos/light over the land (4).jpg" alt="" srcset="">
                <a href="#second-half">
                    <div id="cover">
                        <div id="label">Click here for stories</div>
                    </div>
                </a>
            </div>
        </div>
        <div id="right-side">this page is a collection, a display, a wall, a selection of text indicated to show that the purpose of this subsection of the larger section is dedicated to words, not 'good' words or 'the best' words but words that display and portray the weirdnesses and boringnesses that cross my mindstream from time to time to time to time</div>
    </div>
    <div id="second-half">
        <pre></pre>
    </div>
    <script src="scripts/writing-reader.js"></script>
</body>
</html>