* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
    --faded-glory: #998200;
}
html{
    font-family: 'Comfortaa';
    font-weight: normal;
}
body {
    background-color:hsl(307, 29%, 8%);
    color: white;
}
button {
    border-radius: 0%;
    border: none;
}
a {
    text-decoration: none;
    color: white;
    /* background-color: hsl(307, 29%, 8%); */
}
a:visited{
    color: white;
}
footer {
    border-top: 3px double hsl(51, 100%, 30%);
    padding-top: 5px;
    text-align: right;
}
