header, footer {
    --header-background: hsl(51, 100%, 5%);
    --header-colour: hsl(51, 40%, 80%);

    background-color: var(--header-background);
    color: var(--header-colour);
}
header{
    text-align: end;
    padding: 5px;
    border-bottom: 2px solid var(--header-colour);
}
/* ----------------------------------------------------------- */
main{
    padding: 10px;
}
#title{
    display: grid;
    justify-items: center;
    margin: 5px 0;
}
#selector{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    background-color: #0000;
    border: none;
}
input:before{
    content: " -> ";
}
#code-area{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 4px;
}
#code-example-links{
    border: 1px solid silver;
    padding: 4px;
}
#code-examples{
    background-color: rgba(255, 0, 0, 0.295);
    padding: 4px;
}

/* ----------------------------------------------------------- */
h2{padding: 4px;}
h3{padding: 3px;}
h4{padding: 2px;}
h5{padding: 2px;}
p{padding: 2px;}
img{margin: 10px 25%;}
section{
    border: 1px silver solid;
    margin: 5px;
}
/* ----------------------------------------------------------- */
footer{
    padding: 5px 5px 0 0;
}
#footer-link-area{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    padding: 5px 0;
    margin-right: 60px;
}
#footer-header{
    font-weight: bold;
}
#footer-links{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 25% 30%;
}
.footer-link:hover{
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    font-weight: 800;
}
.footer-link::after{
    content: " -> ";
}
hr{
    border: none;
    border-top: 1px solid hsl(51, 100%, 30%);
    margin: 10px 0;
}
.footer-label{
    padding: 5px 5px 5px 0;
}