body {
    color: var(--faded-glory);
}
/* ----------------------------------------------------------- */
header, footer {
    --header-background: hsl(51, 100%, 5%);
    --header-colour: hsl(51, 40%, 80%);
    background-color: var(--header-background);
    color: var(--header-colour);
}
/* ----------------------------------------------------------- */
nav{
    border-bottom: 3px hsl(51, 100%, 30%) double;
    padding: 5px 0;
    text-align: right;
}
/* ----------------------------------------------------------- */
a {
    font-size: 18pt;
}
a:visited{
    color: var(--faded-glory);
    
}
a:hover{
    text-shadow: 1px 1px 7px white;
    color: rgb(200, 200, 200, 40);
}
/* ----------------------------------------------------------- */
ul {
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(6, 1fr);
    
    margin: 0 10px 0 10px;
}
/* ----------------------------------------------------------- */
h1{
    font-size: 40pt;
    text-align: center;
    margin: 20px;
}
h2{
    font-size: 30pt;
    margin: 5px;
}
h3{
    font-size: 20pt;
    margin: 5px;
    
    transform: rotate(-8deg);
    position: relative;
    top: -50px;
}
/* ----------------------------------------------------------- */
.food-cat{
    padding: 15px;
    margin: 5px;
    border: 4px var(--faded-glory) double;
}
.food-type{
    padding: 10px;
    outline: 1px darkcyan solid;
}
.carousel{
    margin: 10px;
    outline: 1px solid pink;
    display: flex;
    justify-content: space-between;
    
}
.image-holder{
    outline: 1px solid green;
    width: 10%;
}
img{
    width: 100%;
    max-height: 100%;
}
/* ----------------------------------------------------------- */
footer{
    padding: 5px 5px 0 0;
}
#footer-link-area{
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    padding: 5px 0;
    margin-right: 60px;
}
#footer-header{
    font-weight: bold;
}
#footer-links{
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 25% 35%;
}
.footer-link:hover{
    text-shadow: 1px 1px 30px rgba(255, 255, 255, 1);
    font-weight: 800;
}
.footer-link::after{
    content: " -> ";
}
hr{
    border: none;
    border-top: 1px solid hsl(51, 100%, 30%);
    margin: 10px 0;
}
.footer-label{
    padding: 5px 5px 5px 0;
}
/* ----------------------------------------------------------- */
@media screen and (max-width: 960px) {
    a {
        font-size: 14pt;
    }
    
}