:root {
    --shadow-colour: rgba(176, 231, 253, 0.3);
    --shadow-size: 12px;
    --negative-shadow-size: -12px;
    --shadow-glow-radius: 20px;

    --header-colour: hsl(51, 40%, 80%);
    --header-background: hsl(51, 100%, 5%);

    cursor: none;
}
/* ----------------------------------------------------------- */
header, footer {
    cursor: default;
    background-color: var(--header-background);
    color: var(--header-colour);
}

header{
    text-align: end;
    padding: 5px;
    border-bottom: 2px solid var(--header-colour);
}
/* ----------------------------------------------------------- */
main {
    height: 50vh;
}
/* ----------------------------------------------------------- */
canvas {
    position: absolute;
    top: -1px;
    z-index: -1;
}
/* ----------------------------------------------------------- */
.link-box{
    border: 1px solid white;

    width: 100px;
    height: 50px;
}
.link{
    cursor: none;

    display: block;
    align-content: center;
    text-align: center;

    width: 100%;
    height: 100%;
}
.link:hover{
    border: 1px solid hsl(51, 100%, 50%);

    background-color: rgba(255, 217, 0, 0.1);

    text-shadow: 1px 1px 10px white;
    box-shadow: 
    var(--shadow-size) var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--shadow-size) 0 var(--shadow-glow-radius) var(--shadow-colour), 
    0 var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    0 var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) 0 var(--shadow-glow-radius) var(--shadow-colour), 
    var(--shadow-size) var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour);

    /* box-shadow: var(--negative-shadow-size) var(--shadow-size) var(--shadow-colour); */

    transition: 0.4s;
}
/* ----------------------------------------------------------- */
#photos {
    position: relative;
    left: 20%;
    top: 40px;
}
#code{
    position: relative;
    left: 80%
}
#cooking{
    position: relative;
    left: 50%;
    top: 100px; 
}
#drawing {
    position: relative;
    left: 20%;
    top: 200px; 
}
#writing {
    position: relative;
    left: 80%;
    top: 200px;
}
/* ----------------------------------------------------------- */
