:root {
    --shadow-colour: rgba(176, 231, 253, 0.3);
    --shadow-size: 12px;
    --negative-shadow-size: -12px;
    --shadow-glow-radius: 20px;
}
* {
    /* the cursor will be a circle made w/ p5 */
    /* cursor: none;  */
}
canvas {
    /* the canvas is the background to all */
    position: absolute;
    z-index: -1;
    outline: 1px solid red;
}
nav {
    position: absolute;
    height: 26px;
    width: 100vw;
    margin-top: 10px;
    border-bottom: 3px hsl(51, 100%, 30%) double;
}
#links-container{
    outline: 1px solid darkgrey;
.link-box{
    width: 150px;
    padding: 20px;
    align-content: center;
    font-size: 16px;
    background-color: rgba(0, 100, 0, 0);
    border: 1px solid white;
}
.link-box a{
    padding: 20px;
}
.link-box a:hover{
    background-color: rgba(255, 217, 0, 0.1);
    text-shadow: 1px 1px 10px white;

    outline: 2px solid hsl(51, 100%, 50%);

    box-shadow: 
    var(--shadow-size) var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--shadow-size) 0 var(--shadow-glow-radius) var(--shadow-colour), 
    0 var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    0 var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) 0 var(--shadow-glow-radius) var(--shadow-colour), 
    var(--shadow-size) var(--negative-shadow-size) var(--shadow-glow-radius) var(--shadow-colour), 
    var(--negative-shadow-size) var(--shadow-size) var(--shadow-glow-radius) var(--shadow-colour);
    transition: 0.4s;
}

/* Grid Boxes */
#code{
    /* margin-top: 100px; */
}
#code:hover{
    /* margin-top: 20px; */
    /* box-shadow: var(--negative-shadow-size) var(--shadow-size) var(--shadow-colour); */
}
#cooking{
    /* margin-top: -40px; */
    /* margin-left: -20px;  */
}
#cooking:hover{
    /* margin-top: -10px; */
    /* box-shadow: var(--shadow-size) var(--negative-shadow-size) var(--shadow-colour); */
}
#drawing {
    /* margin-top: 160px; */
}
#drawing:hover{
    /* margin-top: 10px; */
    /* box-shadow: var(--shadow-size) var(--shadow-size) var(--shadow-colour); */
}
#photos {
    /* margin-top: 30px; */
    /* margin-right: -20px; */
}
#photos:hover{
    /* margin-top: 20px; */
    /* box-shadow: var(--negative-shadow-size) var(--shadow-size) var(--shadow-colour); */
}
#writing {
    /* margin-top: -20px; */
}
#writing:hover{
    /* margin-top: -10px; */
    /* box-shadow: var(--shadow-size) var(--negative-shadow-size) var(--shadow-colour); */
}

